:root {
  font-size: 15px;
  --color-text: #000;
  --color-text-alt: #3e4843;
  --color-heading-main: #000;
  --color-heading-main-alt: #fff;
  --color-heading-sub: #374b41;
  --color-menu: #7ec59d;
  --color-menu-hover: #128b47;
  --color-bg: #4f6c5e;
  --color-bg-menu: #000;
  --color-link: #000;
  --color-link-alt: #3e4843;
  --color-link-hover: #000;
  --color-link-alt-hover: #fff;
  --color-button-menu: #000;
  --color-button-menu-hover: #79a18a;
  --color-button-close: #fff;
  --color-button-close-hover: #79a18a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: meno-banner, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.unbutton {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

.overlay {
  grid-area: 1/1/2/2;
  position: relative;
  pointer-events: none;
  z-index: 1000;
}

/* 
FRAME
*/
.frame {
  height: 100vh;
  padding: 1rem 1rem 0.5rem;
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 390px 1fr 390px;
  grid-template-areas:
    'author heading button'
    '... ... ...'
    'title links links';
  align-items: center;
  align-content: space-between;

  pointer-events: none;
  z-index: 100;
  font-size: 1.5rem;
}

.frame.menu--open {
  --color-link: var(--color-link-alt);
  --color-link-hover: (--color-link-hover-alt);
  --color-heading-main: var(--color-heading-main-alt);
  --color-button-menu: var(--color-button-close);
  --color-button-menu-hover: var(--color-button-close-hover);
  color: var(--color-text-alt);
}

.frame__button {
  grid-area: button;
  justify-self: end;
}

.frame__button__menu {
  width: 64px;
  height: 64px;
  display: inline-grid;
  place-items: center;
  border: 1px solid var(--color-button-menu);
  border-radius: 50%;
  fill: var(--color-button-menu);
}

.menu--open .frame__button__menu {
  pointer-events: auto;
}

.frame__button__menu:hover {
  fill: var(--color-button-menu-hover);
  border-color: var(--color-button-menu-hover);
}

.frame__title {
  grid-area: title;
  align-self: flex-end;
  font-size: inherit;
  font-weight: 400;
}

.frame__links {
  grid-area: links;
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.frame__links a {
  pointer-events: auto;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.frame__links a::before {
  content: ' ';
  position: absolute;
  top: 90%;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform-origin: 0%;
  transition: transform 0.3s;
}

.frame__links a:hover::before {
  transform-origin: 100%;
  transform: scaleX(0);
}

.frame__author {
  grid-area: author;
  pointer-events: auto;
}

.menu--open .frame__author {
  opacity: 0;
  pointer-events: none;
}

.frame__heading {
  grid-area: heading;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.frame__heading__main {
  color: var(--color-heading-main);
  font-size: 2.15rem;
  line-height: 0.8;
}

.frame__heading__sub {
  color: var(--color-heading-sub);
  font-size: 1rem;
  line-height: 1;
}

.menu--open .frame__heading__sub {
  opacity: 0;
}

/* 
CONTENT
*/
.content {
  width: 100vw;
  height: 100vh;
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__title {
  margin-top: 10vw;
  cursor: default;
  font-size: 7.5vw;
  font-weight: 400;
  line-height: 0.75;
  text-align: center;
}

.content__title__main,
.content__title__sub {
  display: block;
  will-change: opacity, transform;
}

.content__title__main {
  font-size: 23vw;
}

.content__button__enter {
  margin-top: 4vh;
  transition: transform 0.5s ease;
}

.content__button__enter:hover {
  transform: translateX(15px) rotate(-40deg);
}

/* 
MENU
*/
.menu__wrapper {
  grid-area: 1/1/2/2;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  background: var(--color-bg-menu);
  opacity: 0;
  pointer-events: none;
}

.menu__wrapper.menu--open {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__item {
  position: relative;
  font-size: 9vw;
  font-weight: 300;
  line-height: 1;
  text-align: right;
  color: var(--color-heading-main-alt);
  cursor: pointer;
  will-change: transform, opacity;
}

.menu__item:nth-child(odd) {
  margin-left: -10vw;
}

.menu__item__tiny {
  font-size: 2rem;
}

.menu__item__text {
  color: var(--color-menu);
}

.menu__item:hover .menu__item__text {
  color: var(--color-menu-hover);
}

.tiles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tiles__line {
  display: flex;
  transform: translateX(25%);
  animation: runner 10s linear infinite;
}

.tiles__line:nth-child(2) {
  animation-duration: 16s;
}

.tiles__line:nth-child(3) {
  animation-duration: 22s;
}

.tiles__line__img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  margin: 3vw;
  background-position: 50% 50%;
  background-size: cover;
}

.tiles__line__img--large {
  width: 100vh;
  border-radius: 20vh;
}

@keyframes runner {
  to {
    transform: translate(-25%);
  }
}
